In [36]:
# import Dependencies
import pandas as pd
import json
import numpy as np

In [37]:
# load JSON
new_data_path = 'purchase_data.json'

In [38]:
# read with pandas:
new_data_df = pd.read_json(new_data_path)
new_data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [53]:
# Total Number of Players:
player_count = len(new_data_df["SN"].unique())
player_count

573

In [67]:
'''**Purchasing Analysis (Total)**

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue'''

unique_items = len(new_data_df["Item Name"].unique())
total_num_of_purchases = new_data_df["Item Name"].count()
avg_purchase_price = new_data_df["Price"].mean()
total_revenue = new_data_df["Price"].sum()

purch_anl = pd.DataFrame({"Number of Unique Items": [unique_items],"Average Purchase Price": [avg_purchase_price], "Total Number of Purchase": [total_num_of_purchases], "Total Revenue": [total_revenue]})
purch_anl.head()

,Average Purchase Price,Number of Unique Items,Total Number of Purchase,Total Revenue
0,2.931192,179,780,2286.33

In [96]:
'''**Gender Demographics**

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed'''

# Gender Demographics:

#Percentage and Count of Male Players:
male = new_data_df["Gender"].value_counts()['Male']
percent_male = (male/player_count)*100

#Percentage and Count of Female Players:
female = new_data_df["Gender"].value_counts()['Female']
percent_female = (female/player_count)*100

#Percentage and Count of Other / Non-Disclosed Players:
other_ND = player_count - male - female
percent_OND = (other_ND/player_count)*100

gen_demo_df = pd.DataFrame.from_items([('Male', [male, percent_male]), ('Female', [female, percent_female]), ('OND', [other_ND, percent_OND])], orient='index', columns=['Count', 'Percentage'])

gen_demo_df.head()

        Count  Percentage
Male      633  110.471204
Female    136   23.734729
OND      -196  -34.205934

In [82]:
'''Purchasing Analysis (Gender)
The below each broken by gender
Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals'''
# Male Data:
male_df = new_data_df.loc[new_data_df["Gender"] == "Male"]
male_df.head()
male_PC = male_df["Item Name"].count()
print(f"male PC: {male_PC}")
male_APP = male_df["Price"].mean()
print(f"male APP: {male_APP}")
male_TPV = male_df["Price"].sum()
print(f"male TPV: {male_TPV}")
male_NT = np.std(male_APP)
print(f"male NT: {male_NT}")

male PC: 633
male APP: 2.9505213270142154
male TPV: 1867.6799999999985
male NT: 0.0

In [97]:
# Female Data:
female_df = new_data_df.loc[new_data_df["Gender"] == "Female"]
female_df.head()
female_PC = female_df["Item Name"].count()
print(f"female PC: {female_PC}")
female_APP = female_df["Price"].mean()
print(f"female APP: {female_APP}")
female_TPV = female_df["Price"].sum()
print(f"female TPV: {female_TPV}")
female_NT = np.std(female_APP)
print(f"female NT: {female_NT}")

female PC: 136
female APP: 2.815514705882352
female TPV: 382.90999999999985
female NT: 0.0

In [98]:
'''Age Demographics
The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
Purchase Count
Average Purchase Price
Total Purchase Value
Normalized Totals'''

age_bin_value = [0, 9, 14, 19, 24, 29, 34, 39, 44, 100]
age_bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45<']
new_data_df["Age Demographics"]= pd.cut(new_data_df["Age"], age_bin_value, labels=age_bin_names)

In [103]:
demographic_group = new_data_df.groupby("Age Demographics")
demographic_group.head()

,Age,Gender,Item ID,Item Name,Price,SN,Age Demographics
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35-39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20-24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30-34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20-24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20-24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20-24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20-24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25-29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25-29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30-34
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30-34
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,40-44
18,28,Male,91,Celeste,3.71,Iskista88,25-29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30-34
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15-19
22,11,Female,11,Brimstone,2.52,Deural48,10-14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15-19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10-14
26,29,Male,132,Persuasion,3.90,Aerithllora36,25-29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30-34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15-19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15-19
31,18,Male,37,"Shadow Strike, Glory of Ending Hope",1.93,Iarilis73,15-19
46,11,Male,17,"Lazarus, Terror of the Earth",3.47,Palatyon26,10-14
54,25,Female,101,Final Critic,4.62,Minduli80,25-29
68,11,Male,38,"The Void, Vengeance of Dark Magic",2.82,Qarwen67,10-14
70,7,Female,158,"Darkheart, Butcher of the Champion",3.56,Eosurdru76,<10
81,38,Male,175,Woeful Adamantite Claymore,1.24,Yaristi64,35-39
106,37,Female,174,Primitive Blade,2.46,Chadossa56,35-39
117,11,Male,160,Azurewrath,2.22,Qarwen67,10-14
121,7,Male,175,Woeful Adamantite Claymore,1.24,Lassjask63,<10
125,7,Female,10,Sleepwalker,1.73,Heosurnuru52,<10
170,9,Male,71,Demise,4.07,Reulae52,<10
175,35,Male,34,Retribution Axe,4.14,Raillydeu47,35-39
179,40,Male,70,Hope's End,3.89,Chanosiaya39,40-44
186,40,Male,144,Blood Infused Guardian,2.86,Chanosiaya39,40-44
189,35,Male,179,"Wolf, Promise of the Moonwalker",1.88,Raillydeu47,35-39
212,40,Male,111,Misery's End,2.91,Yarmol79,40-44
237,7,Male,121,Massacre,3.42,Lisistaya47,<10
238,40,Female,49,"The Oculus, Token of Lost Worlds",4.23,Chamadar27,40-44
264,45,Male,124,Venom Claymore,2.72,Marassaya49,45<

In [25]:
demographic_group["Item Name"].count()

Age Demographics
10-14     35
15-19    133
20-24    336
25-29    125
30-34     64
Name: Item Name, dtype: int64

In [104]:
demographic_group["Price"].mean()

Age Demographics
10-14    2.770000
15-19    2.905414
20-24    2.913006
25-29    2.962640
30-34    3.082031
35-39    2.842857
40-44    3.189375
45<      2.720000
<10      2.980714
Name: Price, dtype: float64

In [105]:
demographic_group["Price"].sum()

Age Demographics
10-14     96.95
15-19    386.42
20-24    978.77
25-29    370.33
30-34    197.25
35-39    119.40
40-44     51.03
45<        2.72
<10       83.46
Name: Price, dtype: float64

In [106]:
'''**Top Spenders**

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
  * SN
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value'''

sn_users = new_data_df.groupby(["SN"])
sn_pur = new_data_df.groupby(["SN"])['Price'].count()
sn_price = new_data_df.groupby(["SN"])['Price'].sum()
avg_sn = sn_price/sn_pur

top_sn = pd.DataFrame({"Purchase Count": sn_pur, "Average Purchase Price":avg_sn, "Total Purchase Value":sn_price})
top_sn = top_sn.sort_values("Total Purchase Value", ascending=False)
top_sn = top_sn[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

top_sn.reset_index(inplace=True)
top_sn.round(2)
top_sn.head()

            SN  Purchase Count  Average Purchase Price  Total Purchase Value
0  Undirrala66               5                3.412000                 17.06
1     Saedue76               4                3.390000                 13.56
2  Mindimnya67               4                3.185000                 12.74
3   Haellysu29               3                4.243333                 12.73
4       Eoda93               3                3.860000                 11.58

In [27]:
'''**Most Popular Items**

* Identify the 5 most popular items by purchase count, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value'''

by_itemid = new_data_df.groupby('Item ID')
pur_by_item = pd.DataFrame(by_itemid['Item ID'].count()) 
#counts occurance of item ID by grouping by item ID
pur_by_item.rename(columns = {"Item ID": "Number of Items Sold"}, inplace = True)
pur_by_item
ttlpchsvlu = pd.DataFrame(by_itemid['Price'].sum()) 
# sums Price grouped by item ID
ttlpchsvlu.rename(columns = {"Price": "Revenue"}, inplace =True)


no_dup_items = new_data_df.drop_duplicates('Item ID')

ttlpchsvlu
top5_pop = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_pop = top5_pop.merge(ttlpchsvlu, left_on = "Item ID", right_index = True)
top5_pop = top5_pop[['Item ID', "Item Name", "Price", "Number of Items Sold", "Revenue"]]
top5_pop.sort_values("Number of Items Sold", ascending = False, inplace = True)
top5_pop = top5_pop.iloc[0:6][:] 
# Instead of top 5 did top six because 4 items had sales of 9 items each
top5_pop

,Item ID,Item Name,Price,Number of Items Sold,Revenue
61,39,"Betrayal, Whisper of Grieving Widows",2.35,11,25.85
116,84,Arcane Gem,2.23,11,24.53
81,175,Woeful Adamantite Claymore,1.24,9,11.16
35,13,Serenity,1.49,9,13.41
56,31,Trickster,2.07,9,18.63
57,34,Retribution Axe,4.14,9,37.26

In [107]:
'''* Identify the 5 most profitable items by total purchase value, then list (in a table):
  * Item ID
  * Item Name
  * Purchase Count
  * Item Price
  * Total Purchase Value'''

top5_prof = no_dup_items.merge(pur_by_item, left_on = "Item ID", right_index = True)
top5_prof = top5_prof.merge(ttlpchsvlu, left_on = "Item ID", right_index = True)
top5_prof = top5_prof[['Item ID', "Item Name", "Number of Items Sold", "Price", "Revenue"]]
top5_prof.sort_values("Revenue", ascending = False, inplace = True)
top5_prof.head()

     Item ID                   Item Name  Number of Items Sold  Price  Revenue
57        34             Retribution Axe                     9   4.14    37.26
107      115  Spectral Diamond Doomblade                     7   4.25    29.75
50        32                     Orenmir                     6   4.95    29.70
100      103              Singed Scalpel                     6   4.87    29.22
164      107   Splitter, Foe Of Subtlety                     8   3.61    28.88